<% content_for(:title, "Home | Jungle") %>

<h1>Welcome to the Jungle</h1>

<h1>Exotic Animals</h1>

<% @products.each do |product| %>
  <%= image_tag(product.picture.url(:small)) %>
  <%= link_to "#{product.name}", product_path(product), class: "below" %>
<% end %>

