<% content_for(:title, "All Products | Jungle") %>

<h1>Exotic Animals</h1>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to "#{product.name}", product_path(product) %>
    </li>
  <% end %>
</ul>

<%= link_to "New product", new_product_path, :class=> "btn btn-success" %>
