<% content_for(:title, "New Product | Jungle") %>

<h1>New Product</h1>

<h2>Add a Product</h2>
<%= render('layouts/errors', object: @product) %>
  <%= render('form') %>


<%= link_to "New Product", new_product_path, :class=> "btn btn-success" %>
